In [2]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
dataset = pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [7]:
#first n rows
dataset.head(10)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

In [8]:
dataset.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [11]:
#dataset processing
x=dataset.iloc[:,:12]

In [12]:
x

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285

In [13]:
y=dataset.loc[:,'DEATH_EVENT'].values

In [14]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [19]:
print("shape of x_train",x_train.shape)

shape of x_train (209, 12)

In [22]:
x_train

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
30,94.0,0,582,1,38,1,263358.03,1.83,134,1,0,27
208,60.0,1,2281,1,40,0,283000.00,1.00,141,0,0,187
296,45.0,0,2060,1,60,0,742000.00,0.80,138,0,0,278
225,75.0,0,675,1,60,0,265000.00,1.40,125,0,0,205
232,40.0,1,129,0,35,0,255000.00,0.90,137,1,0,209
...,...,...,...,...,...,...,...,...,...,...,...,...
245,61.0,1,80,1,38,0,282000.00,1.40,137,1,0,213
295,55.0,0,1820,0,38,0,270000.00,1.20,139,0,0,271
1,55.0,0,7861,0,38,0,263358.03,1.10,136,1,0,6
128,61.0,0,248,0,30,1,267000.00,0.70,136,1,1,104
148,75.0,1,582,0,30,0,225000.00,1.83,134,1,0,113

In [35]:
print("shape of x_train",x_train.shape)

shape of x_train (209, 12)

In [24]:
x_test

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
135,75.000,0,582,0,40,0,263358.03,1.18,137,1,0,107
283,65.000,0,1688,0,38,0,263358.03,1.10,138,1,1,250
109,45.000,0,292,1,35,0,850000.00,1.30,142,1,1,88
66,42.000,1,250,1,15,0,213000.00,1.30,136,0,0,65
180,40.000,0,478,1,30,0,303000.00,0.90,136,1,0,148
...,...,...,...,...,...,...,...,...,...,...,...,...
188,60.667,1,151,1,40,1,201000.00,1.00,136,0,0,172
100,65.000,1,305,0,25,0,298000.00,1.10,141,1,0,87
250,50.000,0,2522,0,30,1,404000.00,0.50,139,0,0,214
230,60.000,0,166,0,30,0,62000.00,1.70,127,0,0,207
14,49.000,1,80,0,30,1,427000.00,1.00,138,0,0,12

In [25]:
y_test

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0], dtype=int64)

In [26]:
print("shape of y_test",y_test.shape)

shape of y_test (90,)

In [33]:
y_train

array([1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [34]:
print("shape of y_train",y_train.shape)

shape of y_train (209,)

In [36]:
print("shape of x_test",x_test.shape)

shape of x_test (90, 12)

In [39]:
regressor = LogisticRegression()

In [42]:
model = regressor.fit(x_train, y_train)

In [43]:
m = model.coef_

In [59]:
y_pred = model.predict(x_test)

In [45]:
y_pred

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1], dtype=int64)

In [46]:
y_test

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0], dtype=int64)

In [60]:
model.fit(x,y)

LogisticRegression()

In [61]:
model.classes_

array([0, 1], dtype=int64)

In [62]:
model.predict(x)

array([1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [69]:
model.predict_proba(x)

array([[0.03993593, 0.96006407],
       [0.09354062, 0.90645938],
       [0.06660551, 0.93339449],
       [0.13088984, 0.86911016],
       [0.08788516, 0.91211484],
       [0.07971065, 0.92028935],
       [0.02774565, 0.97225435],
       [0.67896998, 0.32103002],
       [0.64568654, 0.35431346],
       [0.10796007, 0.89203993],
       [0.16590046, 0.83409954],
       [0.11108102, 0.88891898],
       [0.24908964, 0.75091036],
       [0.38056698, 0.61943302],
       [0.31089828, 0.68910172],
       [0.18051571, 0.81948429],
       [0.08893601, 0.91106399],
       [0.12242326, 0.87757674],
       [0.08446964, 0.91553036],
       [0.67134378, 0.32865622],
       [0.11597534, 0.88402466],
       [0.16985626, 0.83014374],
       [0.19122196, 0.80877804],
       [0.77882316, 0.22117684],
       [0.10546694, 0.89453306],
       [0.12330033, 0.87669967],
       [0.07991552, 0.92008448],
       [0.33569545, 0.66430455],
       [0.32820393, 0.67179607],
       [0.08417426, 0.91582574],
       [0.07896957, 0.92103043],
       [0.21890359, 0.78109641],
       [0.43748227, 0.56251773],
       [0.33938587, 0.66061413],
       [0.46097896, 0.53902104],
       [0.19818155, 0.80181845],
       [0.21453508, 0.78546492],
       [0.26417124, 0.73582876],
       [0.16688699, 0.83311301],
       [0.35016993, 0.64983007],
       [0.08131677, 0.91868323],
       [0.32042842, 0.67957158],
       [0.31809015, 0.68190985],
       [0.41272983, 0.58727017],
       [0.683769  , 0.316231  ],
       [0.49085443, 0.50914557],
       [0.25343557, 0.74656443],
       [0.42622537, 0.57377463],
       [0.0535366 , 0.9464634 ],
       [0.33986016, 0.66013984],
       [0.13316347, 0.86683653],
       [0.24933533, 0.75066467],
       [0.621038  , 0.378962  ],
       [0.53191028, 0.46808972],
       [0.42021386, 0.57978614],
       [0.0886803 , 0.9113197 ],
       [0.28707823, 0.71292177],
       [0.462545  , 0.537455  ],
       [0.29389022, 0.70610978],
       [0.12435441, 0.87564559],
       [0.18962807, 0.81037193],
       [0.63936346, 0.36063654],
       [0.49905807, 0.50094193],
       [0.62994193, 0.37005807],
       [0.97443224, 0.02556776],
       [0.2171071 , 0.7828929 ],
       [0.332532  , 0.667468  ],
       [0.19088452, 0.80911548],
       [0.20021946, 0.79978054],
       [0.31764357, 0.68235643],
       [0.79120008, 0.20879992],
       [0.45701416, 0.54298584],
       [0.09098722, 0.90901278],
       [0.65775136, 0.34224864],
       [0.17769968, 0.82230032],
       [0.25208309, 0.74791691],
       [0.79137809, 0.20862191],
       [0.77753739, 0.22246261],
       [0.39176853, 0.60823147],
       [0.73163479, 0.26836521],
       [0.48999315, 0.51000685],
       [0.66736281, 0.33263719],
       [0.34789456, 0.65210544],
       [0.53843539, 0.46156461],
       [0.36828455, 0.63171545],
       [0.85756561, 0.14243439],
       [0.57685456, 0.42314544],
       [0.84206591, 0.15793409],
       [0.77945608, 0.22054392],
       [0.36585045, 0.63414955],
       [0.59031077, 0.40968923],
       [0.68827716, 0.31172284],
       [0.94118329, 0.05881671],
       [0.36669775, 0.63330225],
       [0.63776442, 0.36223558],
       [0.87956262, 0.12043738],
       [0.33535496, 0.66464504],
       [0.82024131, 0.17975869],
       [0.40653956, 0.59346044],
       [0.60394769, 0.39605231],
       [0.33800398, 0.66199602],
       [0.54057423, 0.45942577],
       [0.15053388, 0.84946612],
       [0.46349966, 0.53650034],
       [0.79166884, 0.20833116],
       [0.43212462, 0.56787538],
       [0.76095358, 0.23904642],
       [0.66951184, 0.33048816],
       [0.57732905, 0.42267095],
       [0.84186812, 0.15813188],
       [0.71897838, 0.28102162],
       [0.64667568, 0.35332432],
       [0.52911127, 0.47088873],
       [0.84569294, 0.15430706],
       [0.68543578, 0.31456422],
       [0.65808996, 0.34191004],
       [0.90152313, 0.09847687],
       [0.76664773, 0.23335227],
       [0.86393715, 0.13606285],
       [0.33156794, 0.66843206],
       [0.88595058, 0.11404942],
       [0.56838623, 0.43161377],
       [0.6493642 , 0.3506358 ],
       [0.45297832, 0.54702168],
       [0.66906671, 0.33093329],
       [0.91287405, 0.08712595],
       [0.52783554, 0.47216446],
       [0.92543702, 0.07456298],
       [0.55869456, 0.44130544],
       [0.70419396, 0.29580604],
       [0.92038194, 0.07961806],
       [0.77301867, 0.22698133],
       [0.83839018, 0.16160982],
       [0.90506615, 0.09493385],
       [0.2295869 , 0.7704131 ],
       [0.55259555, 0.44740445],
       [0.89150415, 0.10849585],
       [0.40668927, 0.59331073],
       [0.63490097, 0.36509903],
       [0.63360333, 0.36639667],
       [0.46082977, 0.53917023],
       [0.81595598, 0.18404402],
       [0.72045389, 0.27954611],
       [0.73070711, 0.26929289],
       [0.35260889, 0.64739111],
       [0.71479712, 0.28520288],
       [0.69300987, 0.30699013],
       [0.8877168 , 0.1122832 ],
       [0.40341351, 0.59658649],
       [0.60709671, 0.39290329],
       [0.71320343, 0.28679657],
       [0.92603782, 0.07396218],
       [0.88711548, 0.11288452],
       [0.75500523, 0.24499477],
       [0.65656498, 0.34343502],
       [0.53393936, 0.46606064],
       [0.801857  , 0.198143  ],
       [0.67938645, 0.32061355],
       [0.6490321 , 0.3509679 ],
       [0.86114274, 0.13885726],
       [0.73835385, 0.26164615],
       [0.83482526, 0.16517474],
       [0.79328391, 0.20671609],
       [0.71526047, 0.28473953],
       [0.7650251 , 0.2349749 ],
       [0.54373214, 0.45626786],
       [0.96481866, 0.03518134],
       [0.51755946, 0.48244054],
       [0.79757758, 0.20242242],
       [0.71190249, 0.28809751],
       [0.86206201, 0.13793799],
       [0.82709495, 0.17290505],
       [0.92744975, 0.07255025],
       [0.69792913, 0.30207087],
       [0.77458458, 0.22541542],
       [0.96463216, 0.03536784],
       [0.72947989, 0.27052011],
       [0.94965686, 0.05034314],
       [0.95398071, 0.04601929],
       [0.87694002, 0.12305998],
       [0.89705847, 0.10294153],
       [0.70288375, 0.29711625],
       [0.65624957, 0.34375043],
       [0.77320561, 0.22679439],
       [0.7864278 , 0.2135722 ],
       [0.85121986, 0.14878014],
       [0.96657181, 0.03342819],
       [0.73498144, 0.26501856],
       [0.90411069, 0.09588931],
       [0.97608013, 0.02391987],
       [0.74253713, 0.25746287],
       [0.9748274 , 0.0251726 ],
       [0.95092239, 0.04907761],
       [0.7256044 , 0.2743956 ],
       [0.83690129, 0.16309871],
       [0.86138657, 0.13861343],
       [0.95825104, 0.04174896],
       [0.83938929, 0.16061071],
       [0.84388401, 0.15611599],
       [0.90582144, 0.09417856],
       [0.90914977, 0.09085023],
       [0.99245173, 0.00754827],
       [0.96968921, 0.03031079],
       [0.82388094, 0.17611906],
       [0.85392598, 0.14607402],
       [0.97360819, 0.02639181],
       [0.97291653, 0.02708347],
       [0.75946258, 0.24053742],
       [0.90315464, 0.09684536],
       [0.94017006, 0.05982994],
       [0.66552508, 0.33447492],
       [0.98947943, 0.01052057],
       [0.9400667 , 0.0599333 ],
       [0.93694134, 0.06305866],
       [0.90340668, 0.09659332],
       [0.84133823, 0.15866177],
       [0.94748628, 0.05251372],
       [0.99321319, 0.00678681],
       [0.8761197 , 0.1238803 ],
       [0.94044401, 0.05955599],
       [0.67814931, 0.32185069],
       [0.96105858, 0.03894142],
       [0.97301356, 0.02698644],
       [0.91044834, 0.08955166],
       [0.90328617, 0.09671383],
       [0.97435723, 0.02564277],
       [0.88309169, 0.11690831],
       [0.90601588, 0.09398412],
       [0.85277291, 0.14722709],
       [0.80352289, 0.19647711],
       [0.89881213, 0.10118787],
       [0.89563842, 0.10436158],
       [0.97655888, 0.02344112],
       [0.96300256, 0.03699744],
       [0.9769063 , 0.0230937 ],
       [0.95635688, 0.04364312],
       [0.94870953, 0.05129047],
       [0.86011337, 0.13988663],
       [0.93929644, 0.06070356],
       [0.97612454, 0.02387546],
       [0.92976314, 0.07023686],
       [0.89050447, 0.10949553],
       [0.97820143, 0.02179857],
       [0.9027264 , 0.0972736 ],
       [0.96297371, 0.03702629],
       [0.95244545, 0.04755455],
       [0.88919984, 0.11080016],
       [0.8716945 , 0.1283055 ],
       [0.97698878, 0.02301122],
       [0.97146222, 0.02853778],
       [0.93628097, 0.06371903],
       [0.94957531, 0.05042469],
       [0.98330553, 0.01669447],
       [0.91392738, 0.08607262],
       [0.9924144 , 0.0075856 ],
       [0.95035377, 0.04964623],
       [0.94709821, 0.05290179],
       [0.96864082, 0.03135918],
       [0.96084884, 0.03915116],
       [0.99054366, 0.00945634],
       [0.97690467, 0.02309533],
       [0.96819306, 0.03180694],
       [0.90570443, 0.09429557],
       [0.9894196 , 0.0105804 ],
       [0.96073388, 0.03926612],
       [0.98031763, 0.01968237],
       [0.91629142, 0.08370858],
       [0.97491774, 0.02508226],
       [0.98697656, 0.01302344],
       [0.98718598, 0.01281402],
       [0.9792325 , 0.0207675 ],
       [0.98405374, 0.01594626],
       [0.96320484, 0.03679516],
       [0.99012985, 0.00987015],
       [0.9500585 , 0.0499415 ],
       [0.98911164, 0.01088836],
       [0.94701914, 0.05298086],
       [0.94233279, 0.05766721],
       [0.96845903, 0.03154097],
       [0.98455982, 0.01544018],
       [0.94433075, 0.05566925],
       [0.95543861, 0.04456139],
       [0.98397337, 0.01602663],
       [0.96108722, 0.03891278],
       [0.98786706, 0.01213294],
       [0.98575433, 0.01424567],
       [0.97104269, 0.02895731],
       [0.99745756, 0.00254244],
       [0.96197833, 0.03802167],
       [0.91777753, 0.08222247],
       [0.99656207, 0.00343793],
       [0.97079687, 0.02920313],
       [0.9880733 , 0.0119267 ],
       [0.9761344 , 0.0238656 ],
       [0.98003624, 0.01996376],
       [0.98372694, 0.01627306],
       [0.99886718, 0.00113282],
       [0.98921083, 0.01078917],
       [0.9962649 , 0.0037351 ]])

In [64]:
x

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285